<body>
  <nav>
    <ul>
      <li><a href="#">Home</a></li>
    </ul>
    <button><a href="/login">Get started</a></button>
  </nav>

  <div class="intro">
    <div class="left-section">
      <h1>
        Welcome to TherapAI Assistant - Your Personalized Wellness Companion
      </h1>
      <p>
        At TherapAI, we understand that the journey to better mental health is
        unquie for each individual. That's why we've created a space where
        technology meets empathy, providing you with a personalized wellness
        experience like no other.
      </p>
    </div>
    <div class="right-section">
      <img src="../../assets/welcomebot.svg" alt="landing-page-image" />
      <button> <a href="/login">Get Started</a></button>
    </div>
  </div>
</body>
