<div class="component">
    <div class="left-section">
        <img src="../../../assets/app-logo-transparent.svg" alt="app-logo">
        <img src="../../../assets/login-module-image.svg" alt="module-image">
    </div>
    <div class="right-section">
        <h1>Log In</h1>
        <input type="text" placeholder="Username">
        <input type="password" placeholder="Password">
        <button>Log In</button>
        <p>Or Login using</p>
        <button>Login using Google</button>
        <button>Login as Guest</button>

        <p>Don't have an account? <a href="/register">Sign Up</a></p>

    </div>
</div>