* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 25px;
  background-image: linear-gradient(to bottom, #045b81, #14536d);
  color: #dbdbdb;
  height: 50px;
  padding: 20px;
  font-family: sans-serif;
}

ul {
  list-style-type: none;
}

div:nth-child(2) {
  background-color: #1ca0ea;
  padding: 10px;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
}
