.sidebar {
    position: fixed;
    top: 10%;
    left: 0;
    height: 90vh;
    width: 10vw;
    background-color: #323232;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top{
    width:100%;
    
}

.top > a {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    text-decoration: none;
    color:#fff;
}

.bottom {
    width:100%;
    
}

button {
    border-radius: 20px;
    width: 80%;
    border: none;
    margin:40px auto;
    padding: 10px 5px;
}
  
button:hover {
    background-color: #f8f9fa;
    color: #000;
    cursor: pointer;
}
